body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font: size 18px;
    background-color: rgb(156, 153, 153);
}

.bold {
    font-weight: bold;
    font-size: 18px;
}

li {
    font-weight: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    color: darkred;
    font-size: 35px;
    font-family: 'Courier', Courier, monospace;
}

h2 {
    font-family: 'Courier'; 
    color: darkred;
}

.spy {
    color: darkred;
    font-size: 18px;
    font-stretch: semi-condensed;
    font-family: 'Courier', Courier, monospace;
}


.sponsor {
    color: rgb(230, 227, 227);
}

.summary {
    margin-left: 30px;
    margin-right: 30px;
    font-size-adjust: inherit;
    font-size: 18px;
}

.youtube {
    top: 200px;
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

.menufont {
    font-family: 'Courier';
}